.title {
    font-style: normal;
font-weight: bold;
font-size:4rem;
line-height: 109px;
margin-top: 3.75rem;
color: #000000;
text-align: center;
}

.back_img   {
    max-width: 1101px;
    margin: 0 auto;
height: 466px;
}

.back_container {
    display: flex;
    justify-content: center;
}