.back_btn {
    width: 30px;
height: 30px;
cursor: pointer;
margin-top: 3rem;
margin-left: 3rem;

}

.form   {
    width: 1366px;
height: 689px;
background: #FFFFFF;
border: 3px solid #EEAFED;
border-radius: 30px;
margin: 2rem auto;
}
.mentroship_title   {
    color: #C192EE;
    font-size: 3rem;
    background: transparent;
    width: 70%;
    margin-top: 3rem;
    margin-left: 3rem;
}
.equer_block    {
    background: transparent;
    display: flex;
    align-items: center;
    margin-top: 3rem;

    margin-bottom: 2rem;
}
.equer_block:first-child    {
}
.equer_img  {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: 3rem;
    margin-right: 10px;
}
.equer_text {
    font-size: 1.2rem;
    background: transparent;
    width: 65%;
    margin-right: 10px;


}
.equer_text_purpe   {
    color: #C192EE;
    font-size: 1.8rem;
    background: transparent;
}
.equer_block_last   {
    background: transparent;
}
.equer_last_block   {
    display: flex;
    background: transparent;
}

.equer_text_last    {
    margin-left: 5rem;
    width: 65%;
    background: transparent;
    margin-top: 1rem;
}
.form_left  {
    background: transparent;
}
.mentorship_container   {
    display: flex;
    background: transparent;
}
.equer_block    {
    background: transparent;
}
.form_right {
    background: transparent;
}
.equer_block_last   {
    margin-right: 6rem;
}
.submit {
    background: #C192EE;
border-radius: 50px;
width: 359px;
height: 70px;
border: none;
outline: none;
cursor: pointer;
color: #FFFFFF;
font-size: 1.2rem;
margin-right: 3rem;
}