
.register {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;


}


.email_input {
    width: 100%;
    padding: 20px;
    border: 2px solid #6D6D6D;
    border-radius: 10px;
    background-color: transparent;
    margin-right: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}
.email_input:focus {
  border: 2px solid #C192EE;

}
.password_input {
  width: 100%;
  padding: 20px;
  border: 2px solid #6D6D6D;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 10px;
  padding-left: 20px;
  margin-top: 20px;
  font-size: 18px;
}


.content {
    display: flex;
    justify-content: flex-end;
    margin-right: 20.3rem;
  }



  reg
  reg_btns
  reg_light
  active
  reg_form
  block1
  firstname
  lastname
  block2
  block5
  email
  block6
  password
  block3
  password_confirm
  round
  checkbox
  block7
  select-css
  
  
  
  
  .content {
      display: flex;
      justify-content: flex-end;
      margin-right: 20.3rem;
    }
  
  
  
  
  .firstname  {
  
      width: 49%;
          height: 3.65rem;
        border: 1px solid #6D6D6D;
      border-radius: 10px;
        background-color: transparent;
        margin-right: 10px;
        padding-left: 20px;
      }
      .lastname {
        padding-left: 20px;
      
        width: 49%;
      
          height: 3.65rem;
        border: 1px solid #6D6D6D;
      
      border-radius: 10px;
        background-color: transparent;
      }
      .email {
       width: 49%;
       
          height: 3.65rem;
        border: 1px solid #6D6D6D;
      border-radius: 10px;
        background-color: transparent;
        margin-right: 10px;
        padding-left: 20px;
        margin-top: 20px;
      }
      .password {
        padding-left: 20px;
        margin-top: 20px;
        width: 49%;
        height: 3.65rem;
        border: 1px solid #6D6D6D;
      border-radius: 10px;
        background-color: transparent;
      
      }
      .password_confirm {
       margin-top: 20px;
        width: 100%;
        padding-left: 20px;
          height: 3.65rem;
        border: 1px solid #6D6D6D;
      border-radius: 10px;
        background-color: transparent;
      }
      .reg_light  {
        width: 49%;
        height: 10px;
      
        background: #6D6D6D;
        border-radius: 5px;
      
      }
      .reg_light_active  {
          width: 49%;
          height: 10px;
        
          background: #C192EE;
          border-radius: 5px;
        
        }
      .reg_light:first-child {
        margin-right: 10px;
      
      }
    
      .reg_btns {
        display: flex;
        margin-bottom: 5rem;
        width: 740px;
      
      }
      
      .block1 , .block2 , .block3 , .block4 , .block5, .block6, .block7 {
        width: 740px;
        display: flex;
      
      }
      .reg_light:last-child {
        margin-left: 10px;
      }
      
      .block9 {
        display: flex;
        justify-content: center;
        width: 340px;
        text-align: center;
        margin: 0 auto 4.688rem;
      }
      .reg_submit {
        width: 100%;
        height: 3.75rem;
        background: #C192EE;;
        border-radius: 10px;
      outline: none;
      border: none;
      margin-top: 5rem;
      font-size: 1.25rem;
      transition: 03;
      cursor: pointer;
      }
      .block5 {
        margin-top: 5rem;
        margin-bottom: 2.75rem;
        text-align: center;
        justify-content: center;
      }
      .block6 {
        text-align: center;
        justify-content: center;
        position: relative;
      }
      .block7 {
        justify-content: center;
        margin-top: 44px;
      }
      
      
      .round label {
        appearance: none;
        background: transparent;
          border: 1px solid #C192EE;
        border-radius: 50%;
        cursor: pointer;
        height: 30px;
        left: 130px;
        top: -5px;
        position: absolute;
        width: 30px;
      }
      
      .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;
        transform: rotate(-45deg);
        width: 12px;
      }
      
      .round input[type="checkbox"] {
        visibility: hidden;
      }
      
      .round input[type="checkbox"]:checked + label {
        background: #C192EE;
      }
      
      .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
      }
      
      .select_css {
        background-color: transparent;
        border: 1px solid #C192EE;;
        border-radius: 5px;
        max-width: 122px;
        font-size: 1.125rem;
        background-repeat: no-repeat;
      }
      
      .select_css:focus {
      
        background-repeat: no-repeat;
        border-color:#C192EE;;
        outline: 0;
      }
      
      .back_btn {
        width: 12px;
        height: 20px;
        position: absolute;
        left: 75px;
      }
      
      .back_btn:hover {
        scale: 1.2;
      }
      
      .form_control {
        width: 100%;
        height: 3.7rem;
        border: 1px solid #6D6D6D;
      border-radius: 10px;
      background: transparent;
      padding: 20px 20px;
      margin-bottom: 20px;
      outline: none;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; 
      background-image: url("../../assets/images/arrow.png");
      background-position: right 20px center;
      background-repeat: no-repeat; 
      
      transition: 0.3;
      }
      
      .form-control:focus {
        border: 1px solid #C192EE;
        background-image: rotate(45deg);
      
      }
      
      .restore_title  {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
      }
      
      .restore_email  {
        text-align: center;
      }
      
      input {
        transition: 0.4s;
      }
      input:focus {
        background-color: #fff;
        transition: 0.4s;
        border: 2px solid  #C192EE;
      }
      select:focus {
        background-color: #fff;
        transition: 0.4s;
      
      }
      
      .main {
        width: 100%;
        background-color: #fff;
      }
      
      .navbar {
        width: 100%;
      margin: 0 auto;
        display: flex;
       
        background-color:transparent;
      
      }
      
      li {
        display: inline-block;
        list-style: none;
        margin-right: 50px;
        margin-top: 20px;
        font-size: 1.25rem;
      }
    